@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

@layer components {
  .btn-primary {
    @apply w-28 aspect-square text-3xl text-center rounded-full bg-rich-blue-800 shadow-btn-rounded caret-transparent;
  }

  .btn-secondary {
    @apply shadow-btn-rounded w-14 aspect-square text-lg text-center rounded-full bg-rich-blue-700 caret-transparent;
  }

  .invisible {
    @apply opacity-0 translate-y-[300%];
  }
}
